In [1]:
import pandas as pd

In [1]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\student\appdata\local\programs\python\python311\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\student\appdata\local\programs\python\python311\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\student\appdata\local\programs\python\python311\lib\site-packages (2.1.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\student\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\student\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\student\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\student\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\student\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

# Importing dataset

In [7]:
df=pd.read_excel(r"c:\Users\Student\Desktop\DATA SCIENCE\data\Dataset.xlsx")
print(df)

    S/N                      Name  Age  Weight  HEIGHT
0     1            Adokorac Nancy   20      70  177.80
1     2   Amutuhaire Faith Ahabwe   27      47  157.48
2     3     KWAGALA JOANNA VICTOR   21      54  185.42
3     4              mahoro cathy   23      30     NaN
4     5  Mbabazi Hawa Bint Edrisa   19      59  175.26
5     6       Nakanjako josephine   24      65  175.26
6     7            Nanteza Dorcus   21      69  157.48
7     8             Mbabazi Angel   19      57  167.64
8     9            Namara Racheal   19      55  154.94
9    10       Lwamulungi Sheillah   22      78  162.56
10   11           Nakawuka Sandra   25      60  175.26
11   12   Achola Gloria Fortunate   27      80  172.72
12   13             Nagawa Esther   21      58  187.96
13   14           wanjiku hananny   19      50  165.10
14   15            babirye Sandra   21      50  175.26
15   16          nakagga shanitah   21      50  175.26
16   17    Wembabazi Vivian Ritah   20      49  160.02
17   18   Nanziri Ritah Namayanja   23      70  162.56
18   19            Nasejje Mariam   20      62  101.60
19   20  Namukose Jolline Edriana   20      55  162.56
20   21      Agatha Faith Anyango   27      55   93.98
21   22              Kirabo Sarah   23      60  165.10
22   23          Nansalire Anitah   21      45   63.50
23   24             Nalugo gladys   19      70  101.60
24   25            Namakula Allen   20      55  170.18
25   26           Tukahirwa emily   22      67  175.26
26   27            Shamirah Ahmed   21      67  137.16
27   28          Ameso lmmaculate   23      64  165.10
28   29                Ayoo Teddy   20      50  157.48
29   30                Biira Mary   30      65  104.14
30   31        Aloyo Brenda Ojera   23      52  170.18
31   32        Ayebale Immaculate   24      50  162.56

# The Mean,Standard Deviation(std), and Variance(Var) of Age

In [8]:
print("mean:",df["Age"].mean())

mean: 22.03125

In [9]:
print("std:",df["Age"].std())

std: 2.7648061823220904

In [10]:
print("var:",df["Age"].var())

var: 7.644153225806452

# The mean, standard deviation(std) and variance(var) of Weight

In [11]:

df=pd.read_excel(r"c:\Users\Student\Desktop\DATA SCIENCE\data\Dataset.xlsx")
print("mean:",df["Weight"].mean())

mean: 58.375

In [12]:
print("std:",df["Weight"].std())

std: 10.344860029611713

In [13]:
print("var:",df["Weight"].var())

var: 107.01612903225806

# The mean,standard deviation(std) and variance(var) of HEIGHT

In [14]:
print("mean:",df["HEIGHT"].mean())

mean: 155.4316129032258

In [16]:
print("std:",df["HEIGHT"].std())

std: 30.11387090105092

In [17]:
print("var:",df["HEIGHT"].var())

var: 906.8452206451614